* {
    font-family: "Yanone Kaffeesatz", Roboto, sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #121212;
    opacity: 0.91;
}

img {
    width: 100%;
}

p {
    font-family: "Yanone Kaffeesatz", Roboto, sans-serif;

    font-weight: 350;
}



/* special classes */
.bottom-line {
    border-bottom: 0.7em solid #BB86FC;
    margin-bottom: 2em;
}
h1.bottom-line {
    margin-bottom: 0;
}
h2 {
    margin-bottom: 10vw;
}
p.bottom-line {
    border-width: 0.4em;
}

/* Normal width devices */
@media (min-width: 768px) {
    h1 {
        font-size: 5vw;
        font-weight: 500;
        margin-top: 1em;
    }

    p {
        font-size: 2vw;
        text-align: justify;
    }

    .title-img img {
        height: 10vw;
        width: 100%;
        object-fit: cover;
    }
    
}


/* Mobile Devices */
@media (max-width: 767px) {
    h1 {
        font-size: 20vw;
        font-weight: 700;
        margin-top: 0.3em;
    }

    p { 
        font-size: 8vw;
        text-align: justify;
    }
}